PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=golu
DB_NAME=meeting_app

# JWT
JWT_SECRET=kuchbhidaalderahahun
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=0kingson0@gmail.com
MAIL_PASS=abcdefghijklmnop
MAIL_FROM=Meeting Analyser <0kingson0@gmail.com>

# Google OAuth
GOOGLE_CLIENT_ID=722529479446-clmb7ebp2c8ksos1h133hat1neu28g9q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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