PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=golu
DB_NAME=auth_db

# JWT
JWT_SECRET=hsuehdjvojarogjejiht93wodf0q23riqiwodk0q230ur
JWT_EXPIRES_IN=15m